<div class="container mt-4">
    <h1>{{title}}</h1>
    <div class="inline-block p-1">
        <span>Sort by</span>
        <button [ngClass]="{
            'btn d-inline p-2 m-1':true,
            'btn-dark': sortOrderAttribute() == 'email',
            'btn-outline-dark': sortOrderAttribute() != 'email'
            }" 
            (click)="sortAttribute('email')"
        type="button">
            Email
        </button>
        <button [ngClass]="{
            'btn d-inline p-2 m-1':true,
            'btn-dark': sortOrderAttribute() == 'lastname',
            'btn-outline-dark': sortOrderAttribute() != 'lastname'
            }" 
            (click)="sortAttribute('lastname')"
        type="button">
            Lastname
        </button>
        Order
        <button [ngClass]="{
            'btn d-inline p-2 m-1':true,
            'btn-dark': sortOrder() == 'asc',
            'btn-outline-dark': sortOrder() != 'asc'
            }" (click)="sort('asc')" type="button">
            ASC
        </button>
        <button [ngClass]="{
            'btn d-inline p-2 m-1':true,
            'btn-dark': sortOrder() == 'desc',
            'btn-outline-dark': sortOrder() != 'desc'
            }" (click)="sort('desc')" type="button">
            DESC
        </button>
    </div>
    <input type="text" id="filterField" name="filterField" [(ngModel)]="filterText"
        (keyup)="filter()"
        class="filterField w-100 mb-2 p-2 rounded border"
        placeholder="Filter by email..." />
    @if(visibleUsers()){
    <div class="row">
        <div [ngClass]="{
            'col-md-6': showDetail,
            'col-md-12': !showDetail
        }">
            <ul class="list-group">
                @for(user of visibleUsers(); track user.id; let index = $index){
                <li class="list-group-item">
                    <!-- <app-user [user]="user" [selectedUser]="selectedUser$ | async" (onShowUserDetail)="showUserDetail($event)"></app-user> -->
                    <div class="container-fluid">
                        <span>{{user.name.firstname + ' ' + user.name.lastname + ' | ' + user.email}}</span>
                        <button [ngClass]="{
                        'float-end':true,
                        'btn':true,
                        'btn-outline-danger': selectedUserID == user.id,
                        'btn-outline-dark': selectedUserID != user.id
                        }" (click)="toggleDetail(user, $event.target)" type="button">
                            {{selectedUserID == user.id ? 'Hide' : 'Show'}}
                        </button>
                    </div>
                </li>
                }
            </ul>
        </div>
        @if(showDetail){
        <div class="col-md-6">
            <app-user-detail [user]="selectedUser" (onHideUserDetail)="hideUserDetail()"></app-user-detail>
        </div>
        }
    </div>
    }
</div>