<div class="text-center">
    <h1>{{title}}</h1>
    <button class="btn btn-outline-secondary m-4" type="button" data-bs-toggle="modal" data-bs-target="#formModal"
        (click)="openModalFunction($event)">
        Add New Article
    </button>
</div>
@if(articles$()){
<ul class="list-group list-group-horizontal row">
    @for(article of articles$(); track article.id){
    <li class="list-group-item col-sm-4">
        <app-detail [article]="article" (onEdit)="openModalFunction($event)" [preview]="false"></app-detail>
    </li>
    }
</ul>
}
<app-edit [article]="editingArticle" (onSave)="save($event)"></app-edit>