.img-sm {
    max-width: 50%;
    height:auto;
    min-height:100px;
    max-height:140px;
    margin: 12% auto;
}

.btn {
    text-align: center;
    .bi{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    color:#fff;
}
}

.card-body { 
    h5 {
        color: gray;
    }

    p {
        text-align: justify;
        color: gray;
    }
}