<div class="card" style="width: 18rem; margin-left: 8px;">
  <img [src]="product?.image" class="card-img-top img-sm" [alt]="product?.title">
  <div class="card-body">
    <h5 class="card-title">{{product?.title}}</h5>
    <hr>
    <p>{{product?.category}}</p>
    <hr>
    <p>${{product?.price}}</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
        <button class="btn btn-success" type="button">
            <i class="bi bi-cart-plus"></i>
            Buy now
        </button>
    </div>
  </div>
</div>