<div class="container mx-auto w-75">
    <h1 class="text-center">{{"title" | translate}}</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr class="text-center">
                    <td>{{"name" | translate}}</td>
                    <td>{{"image" | translate}}</td>
                    <td>{{"price" | translate}}</td>
                    <td>{{"publishedSince" | translate}}</td>
                    <td>{{"productCode" | translate}}</td>
                </tr>
            </thead>
            <tbody>
                @for(product of visibleProducts(); track product.id){
                <tr>
                    <td>{{product.name | short}}</td>
                    <td>
                        <img class="rounded mx-auto d-block" [src]="imgUrl" alt="product image">
                    </td>
                    <td class="text-end">{{product.price | pricefix}}</td>
                    <td>{{product.publishingDate}}</td>
                    <td class="text-center">{{product.code}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>